.qz-syllFlagBox {
  position: relative;
  top: -18px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  width: 100%;
  // border: 1px solid yellow;
}

svg#qz-syllFlags {
  min-height: 84px;
  min-width: 590px;

  //shadow
  path.cls-1 { fill: #93c9c7; }

  //grubby blue
  path.cls-2 { fill: #baddd9; }

  //grubby white
  path.cls-3 { fill: #d4eded; }

  .cls-4 {
    font-size: 18px;
    fill: #3D6D84;
    font-family: 'Quicksand-Bold', 'Quicksand';
    font-weight: 700;
  }
}

//.shadBack { fill: #93c9c7;}
path.cls-1 { fill: #93c9c7; } //shadow-back
path.cls-2 { fill: #c0e5e7; } //grubby blue
path.cls-3 { fill: #d4eded; } //grubby white

path.cls-10 { fill: none; }
polygon.cls-10 { fill: none; }

path.shadBack { fill: #93c9c7; }
polygon.shadBack{ fill: #93c9c7; }

path.dirtyBlue { fill: #c0e5e7; }
polygon.dirtyBlue { fill: #c0e5e7; }

path.dirtyWhite { fill: #d4eded; }
polygon.dirtyWhite { fill: #d4eded; }

path.gold { fill: #FFD576; }
polygon.gold { fill: #FFD576; }
path.silver { fill: #FFFFFF; }
polygon.silver { fill: #FFFFFF; }
path.bronze { fill: #F7C8A1; }
polygon.bronze { fill: #F7C8A1; }
