.toolBarTop {
  position: relative;
  width: 100%;
  height: 100%;

  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  padding-right: 5px;
  z-index: 10;
}

div.tbTab {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  padding-bottom: 4px;
  height: 60px; // 0.5 $rowH
  width: 72px;
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20viewBox%3D%220%200%2075%2061%22%3E%3Cg%20id%3D%22topTab%22%3E%3Cpath%20fill%3D%22%23addfdf%22%20d%3D%22M3.93%200h69.82v45.79A11.85%2011.85%200%200%201%2061.9%2057.64H15.79A11.85%2011.85%200%200%201%203.93%2045.79V0z%22/%3E%3Cpath%20fill%3D%22%23d4f9f9%22%20stroke%3D%22%23cbf3f4%22%20stroke-miterlimit%3D%2210%22%20d%3D%22M1.75.5h69.82v44.55a11.71%2011.71%200%200%201-11.71%2011.71h-46.4A11.71%2011.71%200%200%201%201.75%2045.05V.5z%22/%3E%3C/g%3E%3C/svg%3E');
  background-repeat: no-repeat;
  cursor: pointer;
  z-index: 10;

  .tbTab-icon {
    height: 32px;
    width: 32px;
  }
  .tbTab-txt {
    text-align: center;
    font-size: 0.7em;
    font-weight: bold;
    width: 64px;
    color: #7AB5B8;
  }
}
div.tbTab.tbTab-active {
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20viewBox%3D%220%200%2075%2061%22%3E%3Cg%20id%3D%22topTab%22%3E%3Cg%20id%3D%22topTab-dark%22%3E%3Cpath%20fill%3D%22%23addfdf%22%20d%3D%22M3.93%200h69.82v45.34a11.8%2011.8%200%200%201-11.8%2011.8H15.73a11.8%2011.8%200%200%201-11.8-11.8V0z%22/%3E%3Cpath%20fill%3D%22%23b7e5e4%22%20d%3D%22M1.75%200h69.82v44.55a11.71%2011.71%200%200%201-11.71%2011.71h-46.4A11.71%2011.71%200%200%201%201.75%2044.55V0z%22/%3E%3C/g%3E%3C/g%3E%3C/svg%3E');
  background-repeat: no-repeat;
}

div.tbTab:hover {
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20viewBox%3D%220%200%2075%2061%22%3E%3Cg%20id%3D%22topTab%22%3E%3Cg%20id%3D%22topTab-dark%22%3E%3Cpath%20fill%3D%22%23addfdf%22%20d%3D%22M3.93%200h69.82v45.34a11.8%2011.8%200%200%201-11.8%2011.8H15.73a11.8%2011.8%200%200%201-11.8-11.8V0z%22/%3E%3Cpath%20fill%3D%22%23b7e5e4%22%20d%3D%22M1.75%200h69.82v44.55a11.71%2011.71%200%200%201-11.71%2011.71h-46.4A11.71%2011.71%200%200%201%201.75%2044.55V0z%22/%3E%3C/g%3E%3C/g%3E%3C/svg%3E');
  background-repeat: no-repeat;
}
