// ------------------------------
// SLIDER BASE

.range-container {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  width: 100%;
  margin: 0;
  margin-top: 1.5em;
  border: 1px solid pink;
}

.slider {
  -webkit-appearance: none;  /* important, only way to override user-agent styles */
  appearance: none; /* important */

  width: 70%;
  height: 10px;
  background: $cSky-dark; /* Grey background */
  border-radius: 10px;
  outline: none; /* Remove outline */
  opacity: 0.5; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
}

.range-label {
  display: flex;
  flex-flow: row nowrap;
  width: 15%;
  // height: 16px;
  font-size: 0.75em;
  font-weight: 600;
  color: $cTxtMain;
  justify-content: center;
  align-items: center;
  border: 1px solid pink;
}

/* Mouse-over effects */
.slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #4CAF50; /* Green background */
    cursor: pointer; /* Cursor on hover */
}
