.waveEles {
  position:absolute;
  display: flex;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.waveBox {
  position: absolute;
  width: $colW * 11;
  height: $rowH;
  left: $colW;
  top: $rowH * 3;

  text-align: center;
  font-weight: 700;
  // border: 1px solid red;
}

.qtBF-resetBtn {
  position: absolute;
  width: 90px;
  height: 60px;
  left: $colW * 9.5;
  top: $rowH * 3.5;
  transform: rotate(4deg);

  z-index: 5;
}

.qtBF-fzLabel {
  position: absolute;
  width: 48px;
  height: 24px;
  left: $colW * 2.44;
  top: $rowH * 2.73;
  color: #62a6b9;
  font-size: 0.9em;
  font-weight: 700;
  letter-spacing: -0.5px;
  text-align: center;

}

.qtBF-starSlider {
    border: 1px solid red;


}

// ------------------------------
// SLIDER BASE

.lpc_range-container {
  position: absolute;
  top: $rowH * 2;
  left: $colW * 3;
  width: $colW * 7;
  height: $rowH * 2.5;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: flex-end;

  // border: 1px solid lime;
  z-index: 99;
}

.lpc_slider {
  -webkit-appearance: none;  /* important, only way to override user-agent styles */
  appearance: none; /* important */
  width: 90%;
  height: 20px;
  background: none;//$cSky-dark;
  border-radius: 10px;
  outline: none;
}

.lpc_slider::-webkit-slider-thumb {
    position: relative;
    -webkit-appearance: none;
    appearance: none;
    width: 96px;
    top: -135px;
    min-height: 333px;
    // background-image: url('/img/starSlider.svg');
    background-image: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2084%20353%22%3E%0A%20%20%3Cdefs%3E%0A%20%20%20%20%3Cstyle%3E%0A%20%20%20%20%20%20.cls-1%20%7Bfill%3A%20%23dda243%3B%7D%0A%20%20%20%20%20%20.cls-2%20%7Bfill%3A%20%23efb652%3B%7D%0A%20%20%20%20%20%20.cls-3%20%7Bfill%3A%20%23ffc95f%3B%7D%0A%20%20%20%20%20%20.cls-4%20%7Bfill%3A%20%23e8b564%3B%7D%0A%20%20%20%20%20%20.cls-5%20%7Bfill%3A%20%23c6944a%3B%7D%0A%20%20%20%20%20%20.cls-6%20%7Bfill%3A%20%23ffd576%3B%7D%0A%20%20%20%20%20%20.cls-7%20%7Bfill%3A%20%23fff%3B%7D%0A%20%20%20%20%20%20.cls-8%20%7Bfill%3A%20%23ffe592%3B%7D%0A%20%20%20%20%3C%2Fstyle%3E%0A%20%20%3C%2Fdefs%3E%0A%20%20%3Ctitle%3EstarSlider3%3C%2Ftitle%3E%0A%20%20%3Cg%20id%3D%22Layer_4%22%20data-name%3D%22Layer%204%22%3E%0A%20%20%20%20%3Cg%20id%3D%22slider%22%3E%0A%20%20%20%20%20%20%3Cg%20id%3D%22star%22%3E%0A%20%20%20%20%20%20%20%20%3Cg%3E%0A%20%20%20%20%20%20%20%20%20%20%3Cpath%20class%3D%22cls-1%22%20d%3D%22M42%2C333.82a21.56%2C21.56%2C0%2C0%2C1%2C9.36%2C1.08l15.47%2C5.75c2.78.92%2C5%2C.87%2C6.33.06L42%2C307.36Z%22%2F%3E%0A%20%20%20%20%20%20%20%20%20%20%3Cpath%20class%3D%22cls-2%22%20d%3D%22M74%2C335.58l-3-7.67a14.73%2C14.73%2C0%2C0%2C1%2C0-9.16L42%2C307.24v.12l31.16%2C33.35C74.61%2C339.82%2C75.05%2C338%2C74%2C335.58Z%22%2F%3E%0A%20%20%20%20%20%20%20%20%20%20%3Cpath%20class%3D%22cls-1%22%20d%3D%22M83.34%2C300.16l-41.34%2C7v.1l29%2C11.51A17.81%2C17.81%2C0%2C0%2C1%2C75.47%2C311l6.09-5.78C83.34%2C303.48%2C83.89%2C301.7%2C83.34%2C300.16Z%22%2F%3E%0A%20%20%20%20%20%20%20%20%20%20%3Cpath%20class%3D%22cls-3%22%20d%3D%22M76.82%2C296.15l-7.21-1.21A22.91%2C22.91%2C0%2C0%2C1%2C61%2C291.2L42%2C307v.12l41.34-7C82.69%2C298.32%2C80.47%2C296.83%2C76.82%2C296.15Z%22%2F%3E%0A%20%20%20%20%20%20%20%20%20%20%3Cpath%20class%3D%22cls-4%22%20d%3D%22M53.63%2C282.74%2C45.7%2C261.63c-1.06-2.9-2.39-4.46-3.7-4.62v50L61%2C291.2C57.59%2C288.86%2C54.8%2C285.78%2C53.63%2C282.74Z%22%2F%3E%0A%20%20%20%20%20%20%20%20%3C%2Fg%3E%0A%20%20%20%20%20%20%20%20%3Cg%3E%0A%20%20%20%20%20%20%20%20%20%20%3Cpath%20class%3D%22cls-5%22%20d%3D%22M7.12%2C352.89c1.19.42%2C3.22-.35%2C5.91-2.46l17.23-12.74A25.06%2C25.06%2C0%2C0%2C1%2C42%2C333.82V307.05Z%22%2F%3E%0A%20%20%20%20%20%20%20%20%20%20%3Cpath%20class%3D%22cls-3%22%20d%3D%22M12.33%2C319.09a21.75%2C21.75%2C0%2C0%2C1-.35%2C13L6.7%2C346.77c-1.22%2C3.55-1%2C5.64.42%2C6.12l34.49-45.33Z%22%2F%3E%0A%20%20%20%20%20%20%20%20%20%20%3Cpath%20class%3D%22cls-2%22%20d%3D%22M.69%2C297c-.6%2C2-.06%2C4.35%2C1.81%2C6.83l6.33%2C7.86a20.13%2C20.13%2C0%2C0%2C1%2C3.5%2C7.38l29.28-11.53.19-.26Z%22%2F%3E%0A%20%20%20%20%20%20%20%20%20%20%3Cpath%20class%3D%22cls-3%22%20d%3D%22M25.71%2C287.91a19.57%2C19.57%2C0%2C0%2C1-9.87%2C3.91l-8.43.87c-3.7.38-6%2C2-6.72%2C4.33L41.8%2C307.3l.2-.25v-.14Z%22%2F%3E%0A%20%20%20%20%20%20%20%20%20%20%3Cpath%20class%3D%22cls-6%22%20d%3D%22M42%2C257c-1.29-.15-2.55%2C1.07-3.51%2C3.75l-6.84%2C19.53a16.59%2C16.59%2C0%2C0%2C1-5.94%2C7.62l16.29%2C19Z%22%2F%3E%0A%20%20%20%20%20%20%20%20%3C%2Fg%3E%0A%20%20%20%20%20%20%20%20%3Cg%20id%3D%22dots%22%3E%0A%20%20%20%20%20%20%20%20%20%20%3Cpath%20class%3D%22cls-7%22%20d%3D%22M8%2C298.2a1%2C1%2C0%2C0%2C1-1.21.7c-.55-.17-.72-.7-.34-1.41a1.21%2C1.21%2C0%2C0%2C1%2C1.42-.71C8.41%2C297%2C8.41%2C297.66%2C8%2C298.2Z%22%2F%3E%0A%20%20%20%20%20%20%20%20%20%20%3Cpath%20class%3D%22cls-7%22%20d%3D%22M13.15%2C345.82c-.54.71-1.42%2C1-1.93.71s-.54-1.21%2C0-1.92%2C1.42-1%2C1.93-.7S13.66%2C345.12%2C13.15%2C345.82Z%22%2F%3E%0A%20%20%20%20%20%20%20%20%20%20%3Cpath%20class%3D%22cls-7%22%20d%3D%22M14.71%2C301.52c-.17.54-1.22.71-2.1.34s-1.43-1-1.22-1.58%2C1.22-.71%2C2.1-.34A1.34%2C1.34%2C0%2C0%2C1%2C14.71%2C301.52Z%22%2F%3E%0A%20%20%20%20%20%20%20%20%20%20%3Cpath%20class%3D%22cls-7%22%20d%3D%22M17.89%2C339.87a1.69%2C1.69%2C0%2C0%2C1-2.1.54c-.71-.34-.71-1.21-.17-1.91a1.76%2C1.76%2C0%2C0%2C1%2C2.1-.71A1.44%2C1.44%2C0%2C0%2C1%2C17.89%2C339.87Z%22%2F%3E%0A%20%20%20%20%20%20%20%20%20%20%3Cpath%20class%3D%22cls-7%22%20d%3D%22M18.94%2C303.24a1.57%2C1.57%2C0%2C0%2C1%2C2.1-.54c.88.34%2C1.42%2C1%2C1.05%2C1.75A1.59%2C1.59%2C0%2C0%2C1%2C20%2C305%2C1.55%2C1.55%2C0%2C0%2C1%2C18.94%2C303.24Z%22%2F%3E%0A%20%20%20%20%20%20%20%20%20%20%3Cpath%20class%3D%22cls-7%22%20d%3D%22M23.51%2C333.79a1.72%2C1.72%2C0%2C0%2C1-2.27.54%2C1.4%2C1.4%2C0%2C0%2C1-.34-2.09%2C1.72%2C1.72%2C0%2C0%2C1%2C2.27-.53A1.33%2C1.33%2C0%2C0%2C1%2C23.51%2C333.79Z%22%2F%3E%0A%20%20%20%20%20%20%20%20%20%20%3Cpath%20class%3D%22cls-7%22%20d%3D%22M30.35%2C327.17a1.9%2C1.9%2C0%2C0%2C1-2.64.33%2C1.78%2C1.78%2C0%2C0%2C1-.71-2.45%2C1.92%2C1.92%2C0%2C0%2C1%2C2.64-.34C30.55%2C325.42%2C30.89%2C326.46%2C30.35%2C327.17Z%22%2F%3E%0A%20%20%20%20%20%20%20%20%20%20%3Cpath%20class%3D%22cls-7%22%20d%3D%22M30.35%2C308.15a1.81%2C1.81%2C0%2C0%2C1-2.47%2C1%2C1.77%2C1.77%2C0%2C0%2C1-1.05-2.25%2C2.06%2C2.06%2C0%2C0%2C1%2C2.47-1.05A1.55%2C1.55%2C0%2C0%2C1%2C30.35%2C308.15Z%22%2F%3E%0A%20%20%20%20%20%20%20%20%20%20%3Cpath%20class%3D%22cls-7%22%20d%3D%22M42.84%2C264.89c.71%2C0%2C1.22.7%2C1.22%2C1.58a1.43%2C1.43%2C0%2C0%2C1-1.22%2C1.58c-.71%2C0-1.22-.71-1.22-1.58S42.13%2C264.89%2C42.84%2C264.89Z%22%2F%3E%0A%20%20%20%20%20%20%20%20%20%20%3Cpath%20class%3D%22cls-7%22%20d%3D%22M42.84%2C271.85a1.59%2C1.59%2C0%2C1%2C1-1.42%2C1.58A1.56%2C1.56%2C0%2C0%2C1%2C42.84%2C271.85Z%22%2F%3E%0A%20%20%20%20%20%20%20%20%20%20%3Cpath%20class%3D%22cls-7%22%20d%3D%22M42.84%2C279.17a1.58%2C1.58%2C0%2C1%2C1-1.59%2C1.58A1.59%2C1.59%2C0%2C0%2C1%2C42.84%2C279.17Z%22%2F%3E%0A%20%20%20%20%20%20%20%20%20%20%3Cpath%20class%3D%22cls-7%22%20d%3D%22M42.84%2C286.67a1.8%2C1.8%2C0%2C0%2C1%2C1.93%2C1.75%2C1.92%2C1.92%2C0%2C0%2C1-1.93%2C1.74%2C1.75%2C1.75%2C0%2C1%2C1%2C0-3.49Z%22%2F%3E%0A%20%20%20%20%20%20%20%20%20%20%3Cpath%20class%3D%22cls-7%22%20d%3D%22M34.24%2C321.05a2.25%2C2.25%2C0%2C1%2C1%2C2.27-2.25A2.43%2C2.43%2C0%2C0%2C1%2C34.24%2C321.05Z%22%2F%3E%0A%20%20%20%20%20%20%20%20%20%20%3Cpath%20class%3D%22cls-7%22%20d%3D%22M38.61%2C312a2.26%2C2.26%2C0%2C1%2C1%2C2.27-2.26A2.27%2C2.27%2C0%2C0%2C1%2C38.61%2C312Z%22%2F%3E%0A%20%20%20%20%20%20%20%20%20%20%3Cpath%20class%3D%22cls-7%22%20d%3D%22M42.84%2C302.2a2.26%2C2.26%2C0%2C1%2C1%2C2.27-2.26A2.31%2C2.31%2C0%2C0%2C1%2C42.84%2C302.2Z%22%2F%3E%0A%20%20%20%20%20%20%20%20%20%20%3Cpath%20class%3D%22cls-7%22%20d%3D%22M45.28%2C307.61a2.27%2C2.27%2C0%2C1%2C1%2C2.27%2C2.25A2.43%2C2.43%2C0%2C0%2C1%2C45.28%2C307.61Z%22%2F%3E%0A%20%20%20%20%20%20%20%20%20%20%3Cpath%20class%3D%22cls-7%22%20d%3D%22M49.68%2C318.77A2.26%2C2.26%2C0%2C1%2C1%2C52%2C316.51%2C2.26%2C2.26%2C0%2C0%2C1%2C49.68%2C318.77Z%22%2F%3E%0A%20%20%20%20%20%20%20%20%20%20%3Cpath%20class%3D%22cls-7%22%20d%3D%22M57.06%2C325.05a2.13%2C2.13%2C0%2C0%2C1-2.81.17%2C1.68%2C1.68%2C0%2C0%2C1%2C0-2.45%2C2.12%2C2.12%2C0%2C0%2C1%2C2.81-.17A1.55%2C1.55%2C0%2C0%2C1%2C57.06%2C325.05Z%22%2F%3E%0A%20%20%20%20%20%20%20%20%20%20%3Cpath%20class%3D%22cls-7%22%20d%3D%22M55.68%2C304.48a1.67%2C1.67%2C0%2C0%2C1%2C1.42-2.08%2C2.13%2C2.13%2C0%2C0%2C1%2C2.27%2C1.41%2C1.67%2C1.67%2C0%2C0%2C1-1.43%2C2.08A1.75%2C1.75%2C0%2C0%2C1%2C55.68%2C304.48Z%22%2F%3E%0A%20%20%20%20%20%20%20%20%20%20%3Cpath%20class%3D%22cls-7%22%20d%3D%22M61.47%2C329.25a1.62%2C1.62%2C0%2C0%2C1-2.27-.17%2C1.25%2C1.25%2C0%2C0%2C1-.34-1.91%2C1.62%2C1.62%2C0%2C0%2C1%2C2.27.17A1.45%2C1.45%2C0%2C0%2C1%2C61.47%2C329.25Z%22%2F%3E%0A%20%20%20%20%20%20%20%20%20%20%3Cpath%20class%3D%22cls-7%22%20d%3D%22M66.75%2C334.13a1.64%2C1.64%2C0%2C0%2C1-2.1-.17%2C1.5%2C1.5%2C0%2C0%2C1-.54-1.92%2C1.63%2C1.63%2C0%2C0%2C1%2C2.1.17C66.92%2C332.75%2C67.26%2C333.79%2C66.75%2C334.13Z%22%2F%3E%0A%20%20%20%20%20%20%20%20%20%20%3Cpath%20class%3D%22cls-7%22%20d%3D%22M65.7%2C304.11a1.57%2C1.57%2C0%2C0%2C1-1.93-.87c-.17-.71.54-1.41%2C1.42-1.58a1.57%2C1.57%2C0%2C0%2C1%2C1.93.87C67.26%2C303.24%2C66.58%2C303.94%2C65.7%2C304.11Z%22%2F%3E%0A%20%20%20%20%20%20%20%20%20%20%3Cpath%20class%3D%22cls-7%22%20d%3D%22M71.12%2C337.29a1.37%2C1.37%2C0%2C0%2C1-1.6.33c-.33-.33-.33-.87.17-1.41a1.36%2C1.36%2C0%2C0%2C1%2C1.6-.34C71.66%2C336%2C71.66%2C336.75%2C71.12%2C337.29Z%22%2F%3E%0A%20%20%20%20%20%20%20%20%20%20%3Cpath%20class%3D%22cls-7%22%20d%3D%22M73.25%2C302.57c-.88.16-1.93-.17-1.93-.71s.54-1.21%2C1.59-1.41c.88-.17%2C1.93.17%2C1.93.7C74.81%2C301.86%2C74.13%2C302.36%2C73.25%2C302.57Z%22%2F%3E%0A%20%20%20%20%20%20%20%20%20%20%3Cpath%20class%3D%22cls-7%22%20d%3D%22M79.38%2C301.52c-.54.17-1-.33-1.22-.87a.91.91%2C0%2C0%2C1%2C.71-1.21c.54-.17%2C1%2C.34%2C1.22.87A1.17%2C1.17%2C0%2C0%2C1%2C79.38%2C301.52Z%22%2F%3E%0A%20%20%20%20%20%20%20%20%3C%2Fg%3E%0A%20%20%20%20%20%20%3C%2Fg%3E%0A%20%20%20%20%20%20%3Cg%3E%0A%20%20%20%20%20%20%20%20%3Crect%20class%3D%22cls-3%22%20x%3D%2242%22%20width%3D%222%22%20height%3D%22250%22%2F%3E%0A%20%20%20%20%20%20%20%20%3Crect%20class%3D%22cls-8%22%20x%3D%2240%22%20width%3D%222%22%20height%3D%22250%22%2F%3E%0A%20%20%20%20%20%20%3C%2Fg%3E%0A%20%20%20%20%3C%2Fg%3E%0A%20%20%3C%2Fg%3E%0A%3C%2Fsvg%3E%0A');
    background-repeat: no-repeat;
    background-position: center bottom;
    // border: 1px solid red;
    cursor: pointer;
}
