// Sandbank -----------------------------------
.sbBox {
  position: absolute;
  top: $rowH * 4;
  height: $rowH *2;
  width: 100%;
  // border: 1px solid red;

  .sbTop {
    position: absolute;
    width: 1024px;
    height: $rowH;
    top: $rowH + 10px;
    z-index: 6;
  }
}

.sDollarBox {
  position: relative;
  top: $rowH * 0.75;
  left: $colW * 10;
  height: $rowH * 1.25;
  width: $colW * 2;

  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  // border: 1px solid lightBlue;
  z-index: 7;

  .points-txt {
    display: flex;
    flex-flow: column nowrap;
    color: #C7B299;
    font-size: 1em;
    font-weight: 600;
    height: 2em;
  }

  .sDollarImgBox {
    position: relative;
    height: $rowH;
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
  }

  .sDollar-img {
    height: 76px;
    width: $colW * 1.5;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }

  .sDollar-label {
    margin-top: 0.35em;
    height: 20px;
    width: 84px;
    background-repeat: no-repeat;
    background-size: contain;
  }
}
