/* NOTE: Common scss vars will go here once styles are better established

*/

// GRID	(6x12) ==============================================
$rowH: 124.66px; // $rowH: 100vh/6;
$colW: 85.33px;  // $colW: 100vw/12;

// Z-INDICES ====================================
/*
nav: 100
userFlag: 99
sandbank: starts at 10

*/

// PALLETTE ==============================================

$cBG: #c2f2f2; //sky blue
$cSky: #c2f2f2; //sky blue
$cSky-dark: #93C9C7;
//$cWhite: #;		// white
//$cBlack: #;

$cTxtMain: #3D6D84; //navy blue
// $cTxtLight: #ffffff; //
// $cTxtError: #;
// $cTxtWarn: #;

$cGold400: #ffd576;
$cGold500: #ffc95f;

$cSilver400: #fff;
$cSilver500: #f0f9fc;

$cBronze400: #f7c8a1;
$cBronze500: #efbd88;


$cDebug: #FF0088;
$cPencil: #e3e3e3;

// sand
$cSandbank-bg: #FCF3DC;


// sky

// golds
// silver
// bronze
// brown
// navy
// teal
// red
