// PALLETTE ==============================================

$cBG: #c2f2f2; //sky blue
//$cWhite: #;		// white
//$cBlack: #;

$cTxtMain: #3D6D84; //navy blue
// $cTxtLight: #ffffff; //
// $cTxtError: #;
// $cTxtWarn: #;


$cDebug: #FF0088;
$cPencil: #e3e3e3;

// sand
// sky
// golds
// silver
// bronze
// brown
// navy
// teal
// red



// GRID	==============================================
$rowH: 124.66px; // $rowH: 100vh/6;
$colW: 85.33px;  // $colW: 100vw/12;



	// // OLD PALETTE
	// $blue: #53c8e9;			// primary-c
	// $yellow: #FFC95F;		// secondary-c or accent-c
	// $grey: #4d4d4d;  		// text-c
  //
	// $light-blue: #c5f3ff;	// sky
	// $white-blue: #F0F9FC;	// very pale blue. used primarily for container backgrounds
	// //$dark-blue:;			// dark blue. use: peak lines?

	//$light-yellow:;			// sand-light
	//$brown:;				// sand-dark
