// Sandbank -----------------------------------
.sbBox {
  position: absolute;
  top: $rowH * 4;
  height: $rowH * 2;
  height: 768px;
  width: 100%;
  z-index: 10;

  // border: 1px solid red;

  .sbTop {
    display: block;
    position: absolute;
    width: 1024px;
    height: $rowH;
    top: $rowH;
    left: 0;
    z-index: 16;
    // border: 1px solid red;
  }

  .sbBgBody { display: none; }
}

.sbBox--open {
  //position: relative;
  position: absolute;
  top: 0;
  left: 0;
  height: 768px;
  width: 100%;
  z-index: 10;

  // border: 1px solid blue;

  .sbTop {
    display: block;
    position: absolute;
    width: 1024px;
    height: $rowH;
    top: -50px;
    left: 0;
    // top: $rowH + 10px;
    z-index: 16;
    // border: 1px solid red;
  }
  .sbBgBody {
    display: block;
    z-index: 10;
  }

  .sDollarBox {
    position: relative;
    top: -10px;
    left: $colW * 10;
    // height: $rowH * 1.25;
    width: $colW * 2;
    // border: 2px solid lime;
  }
}

.sbBgBody {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10;
  // border: 1px solid red;

  .sbBgBox {
    display: block;
    position: absolute;
    margin-top: $rowH/2;
    height: $rowH * 5.5;
    width: $colW * 12;
    background-color: $cSandbank-bg;
    z-index: 11;
  }

  .sbBgRipples {
    display: block;
    position: absolute;
    margin-top: $rowH/2;
    height: $rowH * 5;
    width: 1024px;
    top: 0;
    left: 0;
    z-index: 12;
    // border: 1px solid red;
  }
}
