.qt-menuBox {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  width: $colW * 10;
  height: $rowH * 5;
  padding-top: $rowH/3;
  // border: 1px solid cyan;
}

// ----------------------------------
// for layout in state2 & state3
// holds promptBox & rateBtns
// parent is .secondRow
.qt-displayBox {
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  width: 100%;

  .promptBox {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-end;
    margin-left: $colW;
    padding-bottom: 1em;
    align-items: center;
    height: $rowH;
    width: $colW * 7;
    border-bottom: 1px solid white;
  }
    .promptText {
      color: $cTxtMain;
      font-size: 3.5em;
      line-height: 1em;
      // border: 1px solid blue;
    }
}
